<!DOCTYPE html>
<html>

<head>
  <title>
    index
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Welcome to blog application
  </h1>
  <a href="#">go to blog store</a>
</body>

</html>