<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book-Form</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <header class="header_section">
            <div class="container">
                <div class="header flex">
                    <a href="/">
                        <h1 class="logo">BOOK-STORE</h1>
                    </a>
                    <a href="/books">
                        <button class="btn">Back</button>
                    </a>
                </div>
            </div>
        </header>

        <main>
            <section>
                <div class="container">
                    <div>
                        <form class="form" action="/author" method="POST">
                            <h3 class="form_heading">Add Author</h3>
                            <input type="text" name="name" placeholder="Enter your name" id="">
                            <input type="text" name="email" placeholder="Enter image email" id="">
                            <input type="text" name="country" placeholder="Enter country" id="">
                            <div class="">
                                <button class="btn form_btn" type="submit">Add Author</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </body>

    </html>
</body>

</html>