<!DOCTYPE html>
<html>

<head>
  <title>
    BOOK-STORE
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container">
      <div class="header text-center">
        <h1 class="heading">Welcome to BOOK-STORE</h1>
        <a class="" href="/books">
          <button class="btn btn_store">Go to store</button>
        </a>
      </div>
    </div>
  </header>
</body>

</html>